

<nav class="navbar background">
<ul class="nav-list">
  <div class="logo"> <img src="../assets/img/2800.jpg" alt="logo" srcset="">  </div>
  <div class="action">
<li><a  routerLink="/hospitalregistered" routerLinkActive="active" >Hospital Registered with Us</a> </li>
<li><a routerLink="/hospitalvacant" routerLinkActive="active">Hospital Vacant</a></li>
<li><a href="http://"routerLinkActive="active" >Contact Us</a></li>

<li><a routerLink="/employee" routerLinkActive="active">Employee</a></li>

</div>
</ul>
<div class="rightnav">
<input type="text" name="Search" id="Search">
<button type="submit" class="btn btn-sm">Search</button>

</div>



</nav>

<section class="background first-section">
  <div class="boxmain">

<div class="firhalf">
  <p class="text-big">Doctor is at your home!</p>
  <p class="text-small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quo praesentium, odit excepturi aliquid illo modi quia iure repellat molestias ex asperiores repudiandae, accusantium perferendis pariatur exercitationem ad cum laborum.</p>
  <div class="button"><button class="btn">Book Appointment</button></div>
</div>
<div class="sechalf">
  <img class="logo down "src="../assets/img/2800.jpg" alt="">
 </div>

</div></section>




  <router-outlet></router-outlet>
