<!-- <div class="container" > Hospitals  {{ heading}} with us.</div> -->
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr *ngFor= "let data of headdata"
      class="table-secondary" >
        <th scope="col">{{data.srno}}</th>
        <th scope="col">Hospitals</th>
        <th scope="col">{{data.seat}}</th>
        <th scope="col">Action</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor= "let stat of liststat">
        <!-- <th scope="row">1</th> -->
        <td>{{stat.id}}</td>
        <td>{{stat.name}}</td>
        <td>{{stat.seat}}</td>
        <td><button (click)="view(stat)">Details</button></td>
            <td><button  (click)="edit(stat)">Edit Detsils</button></td>
            <td><button  (click)="delete(stat)">delete</button></td>

        

      </tr>
      <p *ngIf="!liststat || liststat.length == 0">No Record Found.</p>
      <!-- <tr>
        <th scope="row">2</th>
        <td>OP SAH</td>
        <td>RAVINDRA KUMAR</td>
        <td>MAHTO JI</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Ram Kumar</td>
        <td>DENTAL CARE PURNEA</td>
        <td>AKHIULESH KUMAR</td>
      </tr> -->
    </tbody>
  </table>

