<table class="table table-striped">
<thead class="table-dark">

    <tr>
<th>Name</th>
<th>Mobile</th>
<th>Email</th>
<th colspan = "3"> Action </th>
 </tr>
</thead>
<tbody>
    <tr >
        <td> A</td>
        <td> B</td>
        <td> C</td>
        <td><button type="button" class="small btn-primary" >View</button></td>
        <td><button type="button" class="small btn-light" >Edit</button></td>
        <td><button type="button" class="small btn-danger" >Delete</button></td>
    </tr>
   
    <tr *ngFor="let data of regstat">
        <td>{{data.first_name}} {{data.last_name}}</td>
        <td>{{data.phone}}</td>
        <td>{{data.email}}</td>
        <td><button type="button" class="small btn-primary" >View</button></td>
        <td><button type="button" class="small btn-light" >Edit</button></td>
        <td><button type="button" class="small btn-danger" >Delete</button></td>
    </tr>





</tbody> 


</table>
